.contact-section {
  background-image: url("../../../assets/img/smiley-face.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 3;
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
  height: 500px;

  @media screen and (max-width: 768px) {
    height: 300px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      to left,
      rgba(111, 88, 232, 0.18) 0%,
      #3763eb 100%
    );
  }
}

.contact-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 16px 48px;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background: linear-gradient(
    to left,
    #3763eb 0%,
    #6f58e8 50.39%,
    #3763eb 100%
  );
  background-size: 200% auto;
  overflow: hidden;
  text-decoration: none;
  &:hover {
    background-position: right center;
    color: #fff;
    -webkit-box-shadow: 0px 0px 30px rgb(46 87 217 / 45%);
    -moz-box-shadow: 0px 0px 30px rgba(46, 87, 217, 0.45);
    box-shadow: 0px 0px 30px rgb(46 87 217 / 45%);
  }
}
