<section
  id="contact"
  class="contact-section position-relative my-5 pt-5 d-flex flex-column align-items-center gap-5"
>
  <div class="resume-section w-100 d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-7">
          <div class="section-title mb-60">
            <span class="text-white wow fadeInDown" data-wow-delay=".2s"
              >Hey</span
            >
            <h2 class="text-white wow fadeInUp" data-wow-delay=".4s">
              Do you have any project in mind?
            </h2>
            <p class="text-white wow fadeInUp" data-wow-delay=".6s">
              At vero eos et accusamus et iusto odio dignissimos ducimus
              quiblanditiis praesentium
            </p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-5 d-flex justify-content-end">
          <a href="#portfolio" class="resume-btn">View Works</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-6 mx-auto">
        <div class="text-center">
          <h3
            class="wow animate__animated animate__fadeInUp"
            data-wow-delay=".4s"
          >
            Contact
          </h3>
          <h1
            class="wow animate__animated animate__fadeInUp"
            data-wow-delay=".6s"
          >
            Get in touch
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let contact of contacts; index as i">
        <div class="col-lg-4 col-12 col-md-6  mt-lg-0 mt-3">
          <a class="contact-link" [href]="contact.link" target="_blank">
            <div
              class="card contact-card rounded__medium h-100 text-center"
              (mouseenter)="play(i)"
              (mouseleave)="stop(i)"
            >
              <ng-lottie
                [options]="options[i]"
                (animationCreated)="animationCreated($event, i)"
              ></ng-lottie>

              <h2 class="card-title">{{ contact.title | titlecase }}</h2>
              <div class="card-body">
                <p class="card-text text-muted">
                  {{ contact.content }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</section>
