@import "variables.scss";

.contact-card {
  border-radius: 30px;
  box-shadow: 0px 5px 25px rgba(218, 211, 211, 0.3);
  border: none;
  border-bottom: 5px solid #585978;
  transition: all 0.3s ease-out 0s;

  &:hover {
    border-color: #2f80ed;
    box-shadow: 0px 8px 25px rgba(47, 128, 237, 0.35);
  }
  .card-title {
    color: $deep-cove;
  }
  /*   .card-text {
    color: $royal-blue;
  } */
}

.contact-link {
  text-decoration: none;
}
