@import "variables.scss";

.description {
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  background: $pacific-blue-gradient;
  border: 5px solid #eff2f9;
  border-radius: 2rem;
  @media screen and (max-width: 478px) {
    display: none;
    ul {
      font-size: 1em !important;
    }
  }
}
.about-me-img {
  @media screen and (min-width: 768px) {
    transform: scale(0.9);
  }
}
.person-name {
  color: $pacific-blue;
}
.person-role {
  color: $deep-cove;
}
.about-content {
  color: #6a7c92;
  @media screen and (max-width: 768px) {
    font-size: 1.3em !important;
    text-align: justify;
    hyphens: auto;
  }
}
.about-section {
  background: $alabaster;
}
