<section id="about" class="mt-5 pt-5">
  <div class="position-relative about-section py-5">
    <div class="row g-0">
      <div class="col-12 col-lg-6 px-5 px-0">
        <div class="wow position-relative animate__animated animate__fadeInLeft">
          <img
            class="img-fluid about-me-img"
            src="assets/img/about-me.png"
            alt=""
          />
          <div class="description position-absolute p-3">
            <ul class="text-light fs-6">
              <li>one</li>
              <li>two</li>
              <li>Three</li>
              <li>Four</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 pt-5 px-5 px-0">
        <div class="wow animate__animated animate__zoomIn">
          <div id="about-content-title">
            <h1 class="person-name fw-bolder">Ismail Dinar</h1>
            <h2 class="person-role mb-4 fw-bold">Full Stack Web Developer</h2>
          </div>
          <div id="about-content">
            <p class="fs-4 about-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              corrupti, eum laboriosam quidem cumque alias molestiae quisquam
              sed minus quod eligendi similique tempore. Eos obcaecati commodi
              saepe! Inventore, voluptates eveniet!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
