<section id="skills" class="mt-5 pt-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-6 mx-auto">
        <div class="text-center">
          <h3
            class="wow animate__animated animate__fadeInUp"
            data-wow-delay=".4s"
          >
            Technologies
          </h3>
          <h1
            class="wow animate__animated animate__fadeInUp"
            data-wow-delay=".6s"
          >
            Technologies I'm familiar with
          </h1>
        </div>
      </div>
    </div>
    <swiper
      [slidesPerView]="3"
      [spaceBetween]="50"
      [autoplay]="{delay: 2000}"
      [loop]="true"
    >
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
      <ng-template swiperSlide><img class="img-fluid" src="assets/svg/angular.svg" width="200" alt=""></ng-template>
    </swiper>
  </div>
</section>
