<section id="skills" class="mt-5 pt-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-6 mx-auto">
        <app-section-title title="technologies" subtitle="technologies i'm familiar with"></app-section-title>
      </div>
    </div>
    <swiper
      [slidesPerView]="3"
      [spaceBetween]="50"
      [autoplay]="{delay: 2000}"
      [loop]="true"
    >
      <ng-template swiperSlide *ngFor="let technology of technologies">
        <img [aria-label]="technology.name + 'logo'" [src]="'assets/svg/' + technology.logo + '.svg'" height="200" width="200" alt="">
      </ng-template>

      <ng-template swiperSlide></ng-template>
    </swiper>
  </div>
</section>
