.navbar-nav .nav-item a {
  font-size: 16px;
  color: #051441;
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: #3763eb;
  }
  &.active {
    color: #3763eb;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar {
  transition: box-shadow 0.3s ease-out, backdrop-filter 0.3s ease-out,
    box-shadow 0.3s ease-out;
}
