@import "variables";

.navbar-nav .nav-item a {
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: $yale-blue;
    font-weight: bolder;
  }

  &.active {
    color: $yale-blue;
    font-weight: bolder;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  ul .link {
    color: $deep-cove;
  }

  .logo {
    fill: #1a5b92 !important;
  }
}

.bg-light {
  ul .link {
    color: $deep-cove;
  }

  .logo {
    fill: #1a5b92 !important;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 576px) {
  .logo-svg {
    transform: scale(0.6);
  }
}
