#home {
  background-image: url("../../../assets/svg/sun-tornado.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.wave {
  bottom: -1px;
  left: 0;
}

.show {
  ul {
    background: #fff;
  }
}

