<section id="home" class="position-relative">
  <div class="container">
    <div
      class="row g-0 flex-md-row flex-column flex-column-reverse"
    >
      <div class="col-md-8 col-12">
        <div
          class="d-flex flex-column justify-content-center text-light h-100 p-5 animate__animated animate__zoomIn"
        >
          <h1>Hey! 👋</h1>
          <p class="fs-3 mt-4" style="text-align: justify">
            My name is <strong>Ismail</strong>, this is my portfolio where you
            can read about me, my experince and what I've accomplished as a Full
            Stack Web Developer.
          </p>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-flex">
        <div
          class="d-flex justify-content-md-end justify-content-center animate__animated animate__zoomIn"
        >
          <img class="img-fluid" src="assets/img/me.png" alt="" />
        </div>
      </div>
    </div>
    <div class="wave position-absolute w-100">
      <img src="assets/svg/top-wave.svg" alt="">

    </div>
  </div>

</section>



