<section id="projects" class="mt-5 pt-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-6 mx-auto">
        <app-section-title title="projects" subtitle="projects i've accomplished"></app-section-title>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 col-12 col-md-6 py-3 d-flex align-self-stretch" *ngFor="let project of projects; index as i">
        <div
          class="card shadow border-0 rounded__medium position-relative tiltable-card wow animate__animated animate__fadeInUp"
          [attr.data-wow-duration]=" 0.5 * (i + 1) + 's'"
        >
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{project.period}}</h6>
            <p class="card-text" [innerHTML]="project.description"></p>
          </div>
          <div class="p-3 d-flex gap-3 flex-wrap">
            <span class="badge technology-badge" *ngFor="let technology of project.technologies">{{technology}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
