@import 'variables';


.social-media {
  border-radius: 15%;
  cursor: pointer;
  width: calc(2em + 2vw);
}

.facebook {
  background: linear-gradient(145deg, #0062e0, #19afff);
}

.linkedin {
  background: #2867b2;
}

.github {
  background: #333;
}

.twitter {
  background: #1DA1F2;
}

.copyright {
  border-top: 1px solid rgba(134, 138, 170, 0.32);
}
