<footer class="mt-5 p-5 position-relative">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img class="mb-5 wow animate__animated animate__fadeInUp" src="assets/svg/logo-blue.svg" alt="" />
      <div class="d-flex justify-content-around gap-4">
        <ng-container *ngFor="let media of socialMedia; index as i">
          <a [href]="media.url" target="_blank" class="social-media wow animate__animated animate__fadeInUp" [attr.data-wow-delay]=" .3 * i + 's'" [ngClass]="media.name">
            <ng-lottie
              (mouseenter)="play(i)"
              (mouseleave)="stop(i)"
              [options]="options[i]"
              (animationCreated)="animationCreated($event, i)"
            ></ng-lottie>
          </a>
        </ng-container>
      </div>
      <div class="copyright mt-4 pt-4 w-100 text-center">
        <p class="text-dark">© {{ year }} Ismail Dinar</p>
      </div>
    </div>
  </div>
</footer>
