$alabaster: #f9f9f9;
$baby-blue: #D4F1F4;
$blue-green: #75E6DA;
$pacific-blue: #0d98ba;
$blue-grotto:#189AB4;
$navy-blue: #05445E;
$royal-blue: #3763EB;
$deep-cove: #051441;
$royal-blue-gradient: linear-gradient(to top left, #3763eb 0%, #6f58e8 100%);
