$alabaster: #f9f9f9;
$baby-blue: #D4F1F4;
$blue-green: #75E6DA;
$pacific-blue: #04a6c2;
$blue-grotto:#189AB4;
$blue-green: #0899ba;
$cg-blue: #0f80aa;
$deep-sky-blue: #009ACD;
$sapphire-blue: #16679a;
$lapis-lazuli: #1a5b92;
$usafa-blue: #1c558e;
$yale-blue: #1d4e89;
$royal-blue: #3763EB;
$navy-blue: #05445E;
$deep-cove: #051441;
$pacific-blue-gradient: linear-gradient(to top left, #1CA9C9 0%, #0D9ABA 100%);
$pacific-yale-blue-gradient: linear-gradient(to top left, $pacific-blue 0%, $yale-blue 100%);

