<section id="resume" class="position-relative my-5 py-5">
  <div class="resume-section w-100 d-flex align-items-center">
    <div class="container h-100">
      <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-7">
            <h1
              class="wow animate__animated animate__fadeInUp"
              data-wow-delay=".4s"
            >
              My resume
            </h1>
        </div>
        <div class="col-xl-7 col-lg-5 d-flex justify-content-end">
          <a (click)="play()" href="assets/docs/resume_en.pdf" data-wow-delay=".4s"  class="btn py-3 px-5 d-flex align-items-center gap-3 shadow rounded__medium resume-btn wow animate__animated animate__fadeInUp" download>
            <ng-lottie
              width="32px"
              height="32px"
              [options]="options"
              (complete)="onComplete()"
              (animationCreated)="animationCreated($event)"
            ></ng-lottie>
            Download
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
