@import "variables.scss";

.resume-section {
  background-image: url("../../../assets/img/smiley-face.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
  height: 500px;

  @media screen and (max-width: 768px) {
    height: 300px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      to left,
      rgba(111, 88, 232, 0.18) 0%,
      $deep-sky-blue 100%
    );
  }
}

.resume-btn {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  background: $deep-sky-blue;
  &:focus {
    outline: none !important;
  }
}

h1 {
  color: mix(#fff, $pacific-blue, 85%);
	font-size: calc(1em + 4.5vw) ;
	font-weight: 900;
	text-shadow:
		-0.0075em 0.0075em 0 mix($baby-blue, $pacific-blue, 94%),
		0.005em 0.005em 0 mix($baby-blue, $pacific-blue, 60%),
		0.01em 0.01em 0 mix($baby-blue, $pacific-blue, 62%),
		0.015em 0.015em mix($baby-blue, $pacific-blue, 64%),
		0.02em 0.02em 0 mix($baby-blue, $pacific-blue, 66%),
		0.025em 0.025em 0 mix($baby-blue, $pacific-blue, 68%),
		0.03em 0.03em 0 mix($baby-blue, $pacific-blue, 70%),
		0.035em 0.035em 0 mix($baby-blue, $pacific-blue, 72%);
}
