<section id="experience" class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="text-center">
          <h3
            class="wow animate__animated animate__fadeInUp"
            data-wow-delay=".4s"
          >
            Experience
          </h3>
          <h1
            class="wow animate__animated animate__fadeInUp"
            data-wow-delay=".6s"
          >
            Work Experience
          </h1>
        </div>
      </div>
    </div>
    <div class="work-experience row align-items-center mt-5 position-relative pb-5">
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-lg-5 order-lg-first order-last">
            <div
              class="card shadow experience-card position-relative"
              style="border: 0"
            >
              <div class="card-body p-4 text-dark fs-5">
                <p>
                  At vero eos et accusamus et iusto odio dignissimos
                  quiblanditiis praesentium At vero eos et accusamus et iusto
                  odio dignissimos ducimusm.
                </p>
                <div class="animated"></div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-5 order-lg-last order-first offset-lg-2 d-flex flex-column justify-content-center align-items-start"
          >
            <h3 class="fw-bold mb-1 experience-role">Research</h3>
            <p class="fs-5 fw-bolder mb-1 experience-company">New Access</p>
            <p class="fw-bolder text-muted">2021 2021</p>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-lg-5 order-lg-last offset-lg-2 order-last">
            <div
              class="card shadow experience-card position-relative"
              style="border: 0"
            >
              <div class="card-body p-4 text-dark fs-5">
                <p>
                  At vero eos et accusamus et iusto odio dignissimos
                  quiblanditiis praesentium At vero eos et accusamus et iusto
                  odio dignissimos ducimusm.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-5 order-lg-first order-first d-flex flex-column justify-content-center align-items-start align-items-lg-end"
          >
            <h3 class="fw-bold mb-1 experience-role">Research</h3>
            <p class="fs-5 fw-bolder mb-1 experience-company">New Access</p>
            <p class="fw-bolder text-muted">2021 2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
